{% extends 'base.html.twig' %}


{% block body %}

<h2>Voici la page ou seront listé mes rando sur Zelda</h2>

{# tab #}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#minish">MinishCap</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#alttp">A link to the past</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab" href="#awakening">Link's Awakening</a>
  </li>
</ul>

{# tab content #}
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="minish">
    <div class="jumbotron">
      <p class="lead">Les runs sur The legend of Zelda : MinishCap.</p>
  
    </div>
  </div>
  <div class="tab-pane fade" id="alttp">
    <div class="jumbotron">
      <p class="lead">Les runs sur The legend of Zelda : A Link To The Past.</p>
    </div>
  </div>
  <div class="tab-pane fade" id="awakening">
    <div class="jumbotron">
      <p class="lead">Les runs sur The legend of Zelda : Link's Awakening.</p>
    </div>
  </div>
</div>


{% endblock %}

